.workspaces-container {
  margin: 2px;
}

.tiled .workspaces-container {
  margin: 0px;
}

.workspaces-widget {
  font-family: HeavyData Nerd Font Propo; //"3270 Nerd Font Propo"; // ProggyClean CE Nerd Font Propo;
  // font-weight: regular;

  font-size: 16px;
  color: $mauve;
}

.workspace-entry {
  transition: background-color 1000ms linear;

  border-radius: 10px;
  padding: 5px 0px 5px 0px;

  margin: 0px 7px 0px 7px;
  //margin: 5px;
}

.workspace-entry > label {
  //margin-right: 3px;
  margin-left: 3px;
}

.tiled .workspace-entry > label {
  //margin: 0px;
}

.workspace-entry.occupied {
  border: solid 2px $mauve;
}

.workspace-entry.current {
  color: $background;
  background-color: $mauve;
}

.workspace-entry:not(.eDP-1):not(.null) {
  color: $blue;
}

.workspace-entry.occupied:not(.eDP-1):not(.null) {
  border: solid 2px $blue;
}

.workspace-entry.current:not(.eDP-1):not(.null) {
  color: rgba($background, 0.8);
  background-color: $blue;
}

.logo {
  font-size: 17px;
  padding: 5px 3px 5px 0px;
}
