/* @include ("../mocha.scss"); */

.battery {
  background-color: $crust;
  .battery-icon {
    font-family: "Fira Code Nerd Font Mono";
    margin: 0.3em;
    font-size: 25px;
  }
}

.high {
  color: $green;
}

.low {
  color: $peach;
}

.very-low {
  color: $red;
}

.charging {
  color: $blue;
  font-size: 20px;
}
