/* @include ("../mocha.scss"); */

.battery {
  background-color: $crust;
  .battery-icon {
    font-family: "Fira Code Nerd Font Mono";
    margin: 8px;
    font-size: 23px;
  }
}

.high {
  color: $green;
}

.low {
  color: $peach;
}

.very-low {
  color: $red;
}

.charging {
  color: $blue;
  .battery-icon {
    font-size: 15px;
    margin: 10px;
  }
}
