.volume-slider trough highlight {
  background-color: $mauve;
  border-radius: 5px;
}

.volume-slider.muted trough highlight {
  background-color: $crust;
  border-radius: 5px;
}

.volume-icon {
  color: $mauve;
  font-size: 15px;
  padding-top: 7px;
}

.brightness-slider trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

.brightness-icon {
  color: $blue;
  font-size: 15px;
  padding-top: 7px;
}