.music-box {
    padding: 5px;
}

.artist-initials {
    color: $mauve;
    font-size: 15px;
}

.play-pause, .shuffle {
    color: $mauve;
}

.song-cover-art {
    // background-image: url('/home/vagahbond/Pictures/pp.jpg');
    background-size: cover;
}

.music {
    color: $mauve;
    background-color: $crust;
}

.next-previous {
    color: $mauve;
    font-size: 20px;
    // padding-top: 10px;

}

.progress {
    padding-top: 5px;
    
    trough {
        background-color: $crust;
        border-radius: 5px;
    }

    progress {
        background-color: $mauve;
        border-radius: 5px;
    }

}

